<!-- Animation -->
<div class="docs-animationsTable-body ms-Grid-row" role="row" aria-label="Animation row for animation {{description}}">
  <div class="ms-Grid-col ms-u-sm12 ms-u-md4 ms-u-xl2 ms-font-m docs-animationClassColumn" role="cell" aria-label="Class for animation {{description}}">Class <br />{{class}}</div>
  <div class="ms-Grid-col ms-u-sm12 ms-u-md3 ms-u-xl2 ms-font-m docs-animationDescriptionColumn" role="cell" aria-label="Animation description">{{description}}</div>
  <div class="ms-Grid-col ms-u-xl3 ms-font-m docs-animationCubicColumn" role="cell" aria-label="Animation bezier for {{description}}">{{bezier}}</div>
  <div class="ms-Grid-col ms-u-xl1 ms-font-m docs-animationTimingColumn" role="cell" aria-label="Timing {{timing}} for {{description}}">{{timing}}</div>
  <div class="ms-Grid-col ms-u-sm12 ms-u-md5 ms-u-xl4 ms-font-m docs-animationExampleColumn" role="cell" aria-label="Animation Example">
    <div class="AnimationExample {{class}}" data-class="{{class}}" aria-label="Visual Animation Example for {{description}}">
      <div class="AnimationExample-content" aria-hidden="true">
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
      </div>
      <div class="AnimationExample-panel ms-bg-color-themePrimary" data-class="{{class}}"></div>
    </div>
  </div>
</div>
<!-- End Animation -->