<tr>
    <td>{{version}}</td>
    <td style="text-align:center;">
      <i class="ms-Icon ms-Icon--{{icon}} ms-fontColor-{{color}}" aria-hidden="true"></i>
      <span class="docs-Table-visibleForScreenReaders">Version {{version}} {{status}} on the CDN</span>
    </td>
</tr>