<tr>
  <td>{{class}}</td>
  <td style="text-align:center;" class="docs-Table-visibleForScreenReaders">
    {{#if SM}}
    <i class="ms-Icon ms-Icon--CheckMark ms-fontColor-green" aria-hidden="true"></i>
    Class {{class}} hides content for screen size SM
    {{else}}
    Class {{class}} does not hide content on the screen size SM
    {{/if}}
  </td>
  <td style="text-align:center;" class="docs-Table-visibleForScreenReaders">
    {{#if MD}}
    <i class="ms-Icon ms-Icon--CheckMark ms-fontColor-green" aria-hidden="true"></i>
    Class {{class}} hides content for screen size MD
    {{else}}
    Class {{class}} does not hide content on the screen size MD
    {{/if}}
  </td>
  <td style="text-align:center;" class="docs-Table-visibleForScreenReaders">
    {{#if LG}}
    <i class="ms-Icon ms-Icon--CheckMark ms-fontColor-green" aria-hidden="true"></i>
    Class {{class}} hides content for screen size LG
    {{else}}
    Class {{class}} does not hide content on the screen size LG
    {{/if}}
  </td>
  <td style="text-align:center;" class="docs-Table-visibleForScreenReaders">
    {{#if XL}}
    <i class="ms-Icon ms-Icon--CheckMark ms-fontColor-green" aria-hidden="true"></i>
    Class {{class}} hides content for screen size XL
    {{else}}
    Class {{class}} does not hide content on the screen size XL
    {{/if}}
  </td>
  <td style="text-align:center;" class="docs-Table-visibleForScreenReaders">
    {{#if XXL}}
    <i class="ms-Icon ms-Icon--CheckMark ms-fontColor-green" aria-hidden="true"></i>
    Class {{class}} hides content for screen size XXL
    {{else}}
    Class {{class}} does not hide content on the screen size XXL
    {{/if}}
  </td>
  <td class="docs-Table-visibleForScreenReaders">
    {{#if XXXL}}
    <i class="ms-Icon ms-Icon--CheckMark ms-fontColor-green" aria-hidden="true"></i>
    Class {{class}} hides content for screen size XXXL
    {{else}}
    Class {{class}} does not hide content on the screen size XXXL
    {{/if}}
  </td>
</tr>