<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information. -->
<{{props.tag}} 
  class="ms-Button {{props.customClasses}}
   {{#if props.modifier}} ms-Button--{{props.modifier}} {{/if}} 
    {{#if props.label}}{{else}}ms-Button--noLabel{{/if}}">
  {{#if props.icon}}
    <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--{{props.icon}}"></i></span>
  {{/if}}
  <span class="ms-Button-label">{{props.label}}</span>
  {{#if props.description}}
    <span class="ms-Button-description">{{props.description}}</span>
  {{/if}}
  {{#if props.dropdownIcon}}
    <span class="ms-Button-dropdownIcon"><i class="ms-Icon ms-Icon--{{props.dropdownIcon}}"></i></span>
  {{/if}}
</{{props.tag}}>