<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information. -->
<div class="ms-Dialog {{#if thisProps.modifier}} ms-Dialog--{{thisProps.modifier}} {{/if}}">
    {{#if thisProps.closeIcon}}
        <button class="ms-Dialog-button ms-Dialog-button--close js-DialogAction--close">
          <i class="ms-Icon ms-Icon--{{thisProps.closeIcon}}"></i>
        </button>
    {{/if}}
    <div class="ms-Dialog-header">
      <p class="ms-Dialog-title">{{thisProps.title}}</p>
    </div>
    <div class="ms-Dialog-inner">
      <div class="ms-Dialog-content">
        {{#if thisProps.subText}}
          <p class="ms-Dialog-subText">{{thisProps.subText}}</p>
        {{/if}}
        {{#if thisProps.components}}
          {{#each thisProps.components}}
            {{renderPartial component props}}
          {{/each}}
        {{/if}}
      </div>
      {{#if thisProps.actions}}
        <div class="ms-Dialog-actions">
          <div class="ms-Dialog-actionsRight">
          {{#each thisProps.actions}}
            {{renderPartial component props}}
          {{/each}}
          </div>
        </div>
      {{/if}}
    </div>
</div>
