<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information. -->

<table class="ms-Table {{#if props.modifier}} ms-Table--{{props.modifier}}{{/if}}">
  <thead>
    <tr>
      {{#each props.headers}}
        <th class="{{#if rowModifier}} ms-Table-{{rowModifier}}{{/if}}">{{value}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each props.rows}}
      <tr>
        {{#each columns}}
          <td class="{{#if rowModifier}} ms-Table-{{rowModifier}}{{/if}}">{{value}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>